body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}
h1 {
    color:
            #ffffff;
             text-align: center;
             vertical-align: text-top;
              font-size: 56px;
                line-height: 107%;
                font-weight: 500;
    }
h2 {
    color:#2e2f42;
    text-align: center;
     vertical-align: text-top;
      font-size: 36px; 
        line-height: 111%;
}
h3 {
    color:#2e2f42;
     text-align: left;
      vertical-align: text-top;
       font-size: 20px;
          line-height: 120%;
}
.page-nav{
    color:#2e2f42;
     text-align: left;
      vertical-align: text-top;
       font-size: 16px;
       line-height: 150%;
}
.page-links{
 text-align: left;
  vertical-align: text-top; 
  font-size: 16px;
   line-height: 150%; 
}
.text{
 text-align: left;
  vertical-align: text-top; 
  font-size: 16px; 
  line-height: 150%; 
}
.position{
     text-align: center;
      vertical-align: text-top;
       font-size: 16px;
        line-height: 150%;
}
.pierwsza{
    background-color: #2e2f42;
}
.powitanie{
    letter-spacing: 0.02em
}
.guzik{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.guzik:hover{
    background-color: #404BBF;
}

.team{
    background: #f4f4fd;
}
footer{
    color: #f4f4fd;
        text-align: left;
        vertical-align: text-top;
        font-size: 16px;
        line-height: 150%;
    background-color: #2e2f42;
}
